* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Livvic", sans-serif;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #014E56;
  padding-top: 73px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__burger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  list-style-type: none;
}

.header__item {
  margin-left: 40px;
}

.header__item a {
  color: #fff;
  text-decoration: none;
  transition: all ease 0.3s;
}

.header__item:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

.header__item > a:hover {
  color: #F67E7E;
}

.header__item:nth-child(3) > a {
  padding: 10px 32px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-weight: 600;
}

.header__item:nth-child(3):hover > a {
  background-color: #fff;
  color: #002529;
}

@media only screen and (max-width: 556px) {
  .header__list {
    display: none;
    border: 1px solid #000;
  }
  .header__burger {
    display: block;
  }
}
.hero {
  position: relative;
  background-image: url(../img/bg-hero-left.svg), url(../img/bg-hero-bottom.svg);
  background-repeat: no-repeat;
  background-position: left top 130px, bottom right 165px;
  background-color: #014E56;
  padding-top: 133px;
  padding-bottom: 250px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}

.hero__title span {
  color: #F67E7E;
}

.hero__text {
  position: relative;
  width: 445px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 79px;
}

.hero__text::before {
  position: absolute;
  top: 0;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}

.about {
  background-image: url(../img/bg-about-right.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #014E56;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.about__text {
  position: relative;
  width: 730px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 38px;
}

.about__text::before {
  position: absolute;
  top: -20px;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
}

.heroContact {
  position: relative;
  background-image: url(../img/bg-ditertor-left.png), url(../img/bg-contact-right.png);
  background-repeat: no-repeat;
  background-position: left top 130px, bottom right;
  background-color: #014E56;
  padding-top: 133px;
  padding-bottom: 250px;
}

.heroContact__inner {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.heroContact__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.heroContact__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  padding-bottom: 25px;
}

.contact__info__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  color: #fff;
  width: 540px;
  height: 264px;
  list-style-type: none;
}

.contact__info__media {
  display: flex;
}

.contact__info__media--body {
  width: 445px;
  padding-left: 23px;
}

.contact__info__media--body .contact__info__media--text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 30px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.forms > input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  padding: 16px 10px;
  width: 540px;
  background-color: #014E56;
  color: #fff;
  font-size: 15px;
}

.forms > input::-moz-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.forms > input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.forms > input::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.forms input:focus {
  border-color: #F67E7E;
  color: white;
}

.forms input:hover {
  color: #FFFFFF;
  opacity: 1;
}

.forms__btn {
  padding: 10px 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  cursor: pointer;
  width: 123px;
}

.info {
  background-image: url(../img/bg-info-right.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #012F34;
  padding-top: 198px;
  padding-bottom: 140px;
}

.info__inner {
  display: flex;
  justify-content: space-between;
}

.info__title {
  position: relative;
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.info__title::before {
  content: "";
  width: 50px;
  height: 4px;
  background: #F67E7E;
  position: absolute;
  top: -54px;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  color: #fff;
  width: 540px;
  height: 346px;
  list-style-type: none;
}

.info__media {
  display: flex;
  justify-content: space-between;
}

.info__media--body {
  width: 445px;
  padding-left: 23px;
}

.info__media--body .info__media--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.info__media--body .info__media--text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 16px;
}

.dir {
  background-image: url(../img/thougth-top.svg), url(../img/bg-ditertor-left.png);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 140px;
}

.dir__inner {
  display: flex;
  flex-direction: column;
}

.dir__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.dir__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin-top: 64px;
}

.dir__main {
  height: 283px;
  overflow: hidden;
}

.dir__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 350px;
  height: 253px;
  background-color: #012F34;
  position: relative;
}
.dir__card:hover .dir__card--hov {
  transform: translateY(-1px);
}
.dir__card:hover .dir__plus {
  transform: rotate(-50deg);
  background-color: #79C8C7;
}

.dir__card--hov {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #002529;
  transition: all ease 0.3s;
  position: absolute;
  bottom: 0;
  transform: translateY(289px);
}
.dir__card--hov h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 35px 24px 8px 24px;
}
.dir__card--hov p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
  width: 254px;
}
.dir__card--hov .icons__hov {
  margin-bottom: 63px;
}

.dir__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #F67E7E;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  transition: all ease 0.3s;
  z-index: 1;
}

.dir__plus::before {
  content: "";
  width: 16px;
  height: 4px;
  background-color: #012F34;
}

.dir__plus::after {
  content: "";
  width: 4px;
  height: 16px;
  background-color: #012F34;
  position: absolute;
}

.dir__plus:hover {
  background-color: #79C8C7;
}

.dir__card > img {
  margin: 32px 0 16px 0;
  width: 96px;
  height: 96px;
}

.dir__card .dir__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.dir__card span {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.thought {
  position: relative;
  background-image: url(../img/thougth-top.svg), url(../img/thought-bottom.svg);
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  background-color: #004047;
  padding-top: 140px;
}

.thoughts__inner {
  display: flex;
  flex-direction: column;
}

.thoughts__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.thoughts__title span {
  color: #79C8C7;
}

.thought__body {
  display: flex;
  margin-top: 92px;
  margin-bottom: 151px;
  list-style-type: none;
}

.thought__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 350px;
  margin-left: 30px;
  position: relative;
  z-index: 1;
}

.thought__item::before {
  content: url(../img/card-bg.svg);
  width: 67px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.thought__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.thought__human {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-top: 24px;
}

.thought__prof {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  margin-bottom: 32px;
}

.sponsor {
  background-image: url(../img/bg-clients.png);
  background-repeat: no-repeat;
  background-color: #012F34;
  padding-top: 140px;
  padding-bottom: 140px;
}

.sponsor__inner {
  display: flex;
  flex-direction: column;
}

.sponsor__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.sponsor__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 64px;
}

.footerBefore {
  background-image: url(../img/bg-footer-before.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #F67E7E;
  padding: 75px 0;
}

.footerBefore__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footerBefore__title {
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  margin-left: 100px;
}

.footerBefore__contact {
  margin-right: 100px;
  color: #012F34;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 33px;
  border: 2px solid #012F34;
  border-radius: 30px;
  transition: all ease 0.3s;
}

.footerBefore__contact:hover {
  color: #fff;
  background-color: #012F34;
}

.footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 159px;
  margin-right: 125px;
}

.footer__menu .footer_logo a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  transition: all ease 0.3s;
}

.footer__menu .footer_logo a:hover {
  color: #F67E7E;
}

.footer__menu .footer_logo:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

.footer__adress {
  display: flex;
  flex-grow: 1;
}

.footer__list {
  list-style-type: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__icons {
  display: flex;
  flex-direction: column;
}

.footer__list--icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.footer__item--icon:nth-child(2) {
  padding: 0 16px;
}

.footer__icons p {
  margin-top: 49px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */