.footerBefore {
    background-image: url(../img/bg-footer-before.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #F67E7E;
    padding: 75px 0;
}

.footerBefore__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.footerBefore__title {
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
    margin-left: 100px;
}

.footerBefore__contact {
    margin-right: 100px;
    color:  #012F34;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 33px;
    border: 2px solid #012F34;
    border-radius: 30px;
    transition: all ease 0.3s;
}
.footerBefore__contact:hover {
    color:  #fff;
    background-color: #012F34;
}