.header {
    background: #014E56;
    padding-top: 73px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav .header__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
}

.header__item {
    margin-left: 80px;
}

.header__item a{
    color: #fff;
    text-decoration: none;
    transition: all ease 0.3s;
}
.header__item:nth-child(2){
    display: flex;
    flex-grow: 1;  
    margin-left: 40px;
}
.header__item> a:hover  {
    color: #F67E7E;
}

.header__item:nth-child(3) > a{
    padding: 10px 32px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 600;
}
.header__item:nth-child(3):hover >a {
    background-color: #fff;
    color: #002529;
}