.info {
    background-image: url(../img/bg-info-right.svg); 
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #012F34;
    padding-top: 198px;
    padding-bottom: 140px;
}

.info__inner {
    display: flex;
    justify-content: space-between;
}

.info__title{
    position: relative;
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.info__title::before {
    content: '';
    width: 50px;
    height: 4px;
    background: #F67E7E;
    position: absolute;
    top: -54px;    
}

.info__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: #fff;
    width: 540px;
    height: 346px;
    list-style-type: none;
}

.info__media{
    display: flex;
    justify-content: space-between;
}

.info__media--body {
    width: 445px;
    padding-left: 23px;
}

.info__media--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.info__media--text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 16px;
}

@media(max-width:   990px){
    .info__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
    }
    .info__media--body {
        width: 405px;
        padding-left: 16px;
    }
    .info__media--title {
        font-size: 16px;
    }
    .info__media--text {
    font-size: 13px;
    }
 
}
@media(max-width: 830px){
    .info__inner {
        flex-direction: column;
        justify-content: center;
        padding-left: 83px;
    }
    .info  {
         background-position: right top;
    }
    .info__list {
        width: 100%;
    }
    .info__title {
        font-size: 32px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 60px;
    }
    .info__media--body {
        width: 450px;
        padding-left: 18px;
    }
    .info__media--title {
        font-size: 18px;
    }
    .info__media--text {
        font-size: 15px;
    }
}
@media(max-width: 625px) {
    .info {
        padding-top: 100px;
    }
    .info__list {
        height: inherit;
        display: block;
    }
    .info__title {
        width: auto;
    }
    .info__media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 72px;
            height: 72px;
        }
    }
    .info__media--body {
        padding-left: 0;
        margin-bottom: 48px;
        margin-top: 16px;
        width: auto;

    }
    .info__media--title {
        font-size: 18px;
        text-align: center;
    }
    .info__media--text {
        text-align: center;
        font-size: 15px;
    }
    .info__inner {
        padding-left: 10%;
    }
   
}
@media(max-width: 550px) {
    .info__title {
        width: 240px;
    }
}

// about

.dir {
    background-image: url(../img/thougth-top.svg), url(../img/bg-ditertor-left.png); 
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    background-color: #004047;
    padding-top: 140px;
    padding-bottom: 140px;

}

.dir__inner {
    display: flex;
    flex-direction: column;
}

.dir__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.dir__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin-top: 64px;
}
.dir__main {
    height: 283px;
    overflow: hidden;
}

.dir__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 350px;
    height: 253px;
    background-color: #012F34;
    position: relative;
    // overflow: hidden;
    &:hover {
        
        .dir__card--hov {
            transform: translateY(-1px);
        }
        .dir__plus {
            transform: rotate(-50deg);
            background-color: #79C8C7;
        }
    }
}

.dir__card--hov{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color:  #002529;
    // z-index: 0;
    transition: all ease 0.3s;
    position: absolute;
    bottom: 0;
    transform: translateY(289px);

    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #79C8C7;
        margin: 35px 24px 8px 24px;
    }
    p {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 24px;
        width: 254px;
    }
    .icons__hov {
        margin-bottom: 63px;
    }
    
}


.dir__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #F67E7E;
    position: absolute;
    bottom: -25px;
    cursor: pointer;
    transition: all ease 0.3s;
    z-index: 1;
}

.dir__plus::before{
    content: '';
    width: 16px;
    height: 4px;
    background-color: #012F34;
}
.dir__plus::after{
    content: '';
    width: 4px;
    height: 16px;
    background-color: #012F34;
    position: absolute;
}
.dir__plus:hover{
    background-color: #79C8C7;
}

.dir__card  > img {
    margin: 32px 0 16px 0;
    width: 96px;
    height: 96px;
}

.dir__card .dir__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.dir__card span {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}