.thought {
    position: relative;
    background-image: url(../img/thougth-top.svg), url(../img/thought-bottom.svg);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    background-color: #004047;
    padding-top: 140px;
}

.thoughts__inner {
    display: flex;
    flex-direction: column;
}

.thoughts__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.thoughts__title span {
    color: #79C8C7;
}

.thought__body {
    display: flex;
    margin-top: 92px; 
    margin-bottom: 151px;
    list-style-type: none;
}

.thought__item {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
}
.thought__item::before {
    content: url(../img/card-bg.svg);
    width: 67px;
    margin: 0 auto;
    margin-bottom: -20px;
}

.thought__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.thought__human {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    margin-top: 24px;
}

.thought__prof {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
    margin-bottom: 32px;
}


@media (max-width:820px) {
    .thoughts__title {
        margin: 0  auto;
        width: 80%;
        font-size: 32px;
        line-height: 32px;
    }
    .thought__body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .thought__item{
        width: 100%;
        margin-left: 0;
    }
    
}

// About 

.sponsor {
    background-image: url(../img/bg-clients.png);
    background-repeat: no-repeat;
    background-color: #012F34;
    padding-top: 140px;
    padding-bottom: 140px;
}
.sponsor__inner {
    display: flex;
    flex-direction: column;
}

.sponsor__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.sponsor__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
    margin-top: 64px;
}

@media (max-width:850px) {
    .sponsor {
        background-position: left top -100px;
    }
    .sponsor__title {
        font-size: 32px;
    }
    .sponsor__list {
        img {
            width: 60%;
        }
    }
}
@media (max-width:600px) {
    .sponsor {
        background-position: left -100px top -100px;
        padding-bottom: 90px;
    }
    .sponsor__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        li {
            margin-bottom: 50px;
        }
    }
    .sponsor__list {
        img {
            width: auto;
        }
    }
}